In [2]:
import pandas as pd
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv('census-income.csv')

In [4]:
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [5]:
# Shape of data

In [6]:
data.shape

(32561, 15)

In [7]:
data.isnull().sum()

age                0
 workclass         0
 fnlwgt            0
 education         0
 education-num     0
 marital-status    0
 occupation        0
 relationship      0
 race              0
 sex               0
 capital-gain      0
 capital-loss      0
 hours-per-week    0
 native-country    0
                   0
dtype: int64

In [8]:
# no null data found

In [9]:
data[' workclass'].unique()

array([' State-gov', ' Self-emp-not-inc', ' Private', ' Federal-gov',
       ' Local-gov', ' ?', ' Self-emp-inc', ' Without-pay',
       ' Never-worked'], dtype=object)

In [10]:
# Data preprocessing

In [11]:
data.describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [12]:
#data manipulation

In [13]:
#(a) extract the 'education' column and store it in 'census_ed'

In [14]:
census_ed = data[[' education']]

In [15]:
census_ed.head()

    education
0   Bachelors
1   Bachelors
2     HS-grad
3        11th
4   Bachelors

In [16]:
# (b) extract all the columns from 'age' to 'relationship' and store it in 'census_seq'

In [17]:
census_seq = data.iloc[:,0:8]

In [18]:
census_seq.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife

In [19]:
# (c) extract column number '5', '8', '11' and store it in census_col

In [20]:
census_col = data.iloc[:,[5,8,11]]

In [21]:
census_col.head()

        marital-status    race   capital-loss
0        Never-married   White              0
1   Married-civ-spouse   White              0
2             Divorced   White              0
3   Married-civ-spouse   Black              0
4   Married-civ-spouse   Black              0

In [22]:
# (d) extract all the male employees who work in state-govt and store it in 'male_gov'

In [23]:
male_gov = data[(data[' workclass']==' State-gov') & (data[' sex'] == ' Male')]

In [24]:
male_gov.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
34,22,State-gov,311512,Some-college,10,Married-civ-spouse,Other-service,Husband,Black,Male,0,0,15,United-States,<=50K
48,41,State-gov,101603,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
123,29,State-gov,267989,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,>50K

In [25]:
# (e) extract all the 39 year olds who either have bachelors degree or who are native to united states and 
# store result in census_us

In [26]:
census = data[(data['age']==39)]

In [27]:
census_us = census[(census[' education']==' Bachelors') | (census[' native-country']== ' United-States')]

In [28]:
census_us.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
28,39,Private,367260,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,80,United-States,<=50K
129,39,Private,365739,Some-college,10,Divorced,Craft-repair,Not-in-family,White,Male,0,0,40,United-States,<=50K
166,39,Federal-gov,235485,Assoc-acdm,12,Never-married,Exec-managerial,Not-in-family,White,Male,0,0,42,United-States,<=50K
320,39,Self-emp-not-inc,174308,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,<=50K

In [29]:
# (f) extract 200 random rows from 'census' dataframe and store it in census_200

In [30]:
census_200 = census.sample(200)

In [31]:
census_200

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,
13585,39,Private,101146,HS-grad,9,Divorced,Prof-specialty,Not-in-family,White,Female,4650,0,40,United-States,<=50K
28519,39,Federal-gov,376455,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,1887,50,United-States,>50K
13185,39,Private,316211,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K
15164,39,Private,164898,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
6331,39,Private,207185,Some-college,10,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,35,Puerto-Rico,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4505,39,Private,279272,Assoc-acdm,12,Never-married,Transport-moving,Not-in-family,Black,Male,0,0,60,United-States,<=50K
5607,39,Private,484475,11th,7,Never-married,Craft-repair,Not-in-family,Black,Male,0,0,40,United-States,<=50K
8556,39,Private,135020,HS-grad,9,Never-married,Transport-moving,Own-child,White,Male,0,0,40,United-States,<=50K
297,39,?,157443,Masters,14,Married-civ-spouse,?,Wife,Asian-Pac-Islander,Female,3464,0,40,?,<=50K
8177,39,Private,224531,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,7298,0,40,United-States,>50K

In [32]:
# (g) get the count of different levels of the 'workclass' column

In [33]:
data[[' workclass']].value_counts()

 workclass
 Private             22696
 Self-emp-not-inc     2541
 Local-gov            2093
 ?                    1836
 State-gov            1298
 Self-emp-inc         1116
 Federal-gov           960
 Without-pay            14
 Never-worked            7
Name: count, dtype: int64

In [34]:
# (h) get the mean of the 'capital-gain' column grouped according to 'workclass'

In [35]:
data.groupby([' workclass'])[' capital-gain'].mean()

 workclass
 ?                    606.795752
 Federal-gov          833.232292
 Local-gov            880.202580
 Never-worked           0.000000
 Private              889.217792
 Self-emp-inc        4875.693548
 Self-emp-not-inc    1886.061787
 State-gov            701.699538
 Without-pay          487.857143
Name:  capital-gain, dtype: float64

In [36]:
# (i) create a seperate dataframe with the details of males and females from the census data that has income
# more than 50,000

In [37]:
data[' sex'].value_counts()

 sex
 Male      21790
 Female    10771
Name: count, dtype: int64

In [38]:
data[' income'] = data.iloc[:,-1]

In [39]:
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,<=50K

In [40]:
data.drop(' ', inplace = True , axis = 1)

In [41]:
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [42]:
male_50k = data[(data[' sex'] == ' Male') & (data[' income']==' >50K')]

In [43]:
female_50k = data[(data[' sex'] == ' Female') & (data[' income'] == ' >50K')]

In [44]:
female_50k.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K
52,47,Private,51835,Prof-school,15,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,1902,60,Honduras,>50K
67,53,Private,169846,HS-grad,9,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,40,United-States,>50K
84,44,Private,343591,HS-grad,9,Divorced,Craft-repair,Not-in-family,White,Female,14344,0,40,United-States,>50K

In [45]:
# (j) calculate the percentage of people from unites states who are private employees and earn less than 50,000 annually

In [46]:
p_le50k = data[(data[' native-country'] == ' United-States') & (data[' workclass'] == ' Private') & 
               (data[' income'] == ' <=50K' )]

In [47]:
p_le50k.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K
13,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K

In [48]:
total = len(data)

In [49]:
percentage = (len(p_le50k)/total)*100

In [50]:
percentage

47.891649519363654

In [51]:
# (k) calculate the percentage of married people in census data

In [52]:
data[' marital-status'].value_counts()

 marital-status
 Married-civ-spouse       14976
 Never-married            10683
 Divorced                  4443
 Separated                 1025
 Widowed                    993
 Married-spouse-absent      418
 Married-AF-spouse           23
Name: count, dtype: int64

In [53]:
total_mar = len(data[' marital-status'])

In [54]:
married = 14976+418+23

In [55]:
percentage_mar = (married/total_mar)*100

In [56]:
percentage_mar

47.34805442093302

In [57]:
# (l) calculate the percentage of high school graduates who are earning more than 50,000 annually

In [58]:
data[' education'].value_counts()

 education
 HS-grad         10501
 Some-college     7291
 Bachelors        5355
 Masters          1723
 Assoc-voc        1382
 11th             1175
 Assoc-acdm       1067
 10th              933
 7th-8th           646
 Prof-school       576
 9th               514
 12th              433
 Doctorate         413
 5th-6th           333
 1st-4th           168
 Preschool          51
Name: count, dtype: int64

In [59]:
hs_m50k = data[(data[' education'] == ' HS-grad') & (data[' income'] == ' >50K')]

In [60]:
hs_m50k.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
67,53,Private,169846,HS-grad,9,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,40,United-States,>50K
84,44,Private,343591,HS-grad,9,Divorced,Craft-repair,Not-in-family,White,Female,14344,0,40,United-States,>50K
86,49,Local-gov,268234,HS-grad,9,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
105,32,Self-emp-inc,317660,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,7688,0,40,United-States,>50K

In [61]:
percentage_hs_m50k = (len(hs_m50k)/total)*100

In [62]:
percentage_hs_m50k

5.144190903227788

In [63]:
# Linear Regression

In [64]:
# (a) build a siimple linear regrsession model

In [65]:
# Divide the data set in to training and test set into 70:30 ratio
# Build a linear model on test set where the dependent variable is 'hours.per.week' and the independed variable 
# is 'education.num'
# Predict the value in train set and find the error in prediction
# Find the Root-Mean-square-error (RMSE)

In [66]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [67]:
# independedt variable is 'education.num' & dependent variable is 'hours-per-week'

In [68]:
x = data[[' education-num']]
y = data[[' hours-per-week']]

In [69]:
lr = LinearRegression()

In [70]:
x_train, x_test, y_train, y_test = train_test_split(x,y, train_size = 0.7, random_state = 1)

In [71]:
lr.fit(x_train, y_train)

LinearRegression()

In [72]:
y_pred = lr.predict(x_test)

In [73]:
error = y_test - y_pred

In [74]:
print('mean square error', mean_squared_error(y_test, y_pred))
print('Root mean squared error', np.sqrt(mean_squared_error(y_test, y_pred)))

mean square error 147.15261838664162
Root mean squared error 12.130647896408568

In [75]:
# Logistic Regression

In [76]:
# Build a simple Logistic Regression model

In [77]:
# Divide the data set into training and test set in 65:35 ratio
# Build a logistic regression model where the dependent variable is Y 'yearly-income' and the independet variable is X
# 'occupation' 
# Predict the values on test set
# Build the confusion matrix and find accuracy

In [78]:
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [79]:
lo = LogisticRegression()

In [80]:
data.shape

(32561, 15)

In [81]:
data[' occupation'].value_counts()

 occupation
 Prof-specialty       4140
 Craft-repair         4099
 Exec-managerial      4066
 Adm-clerical         3770
 Sales                3650
 Other-service        3295
 Machine-op-inspct    2002
 ?                    1843
 Transport-moving     1597
 Handlers-cleaners    1370
 Farming-fishing       994
 Tech-support          928
 Protective-serv       649
 Priv-house-serv       149
 Armed-Forces            9
Name: count, dtype: int64

In [82]:
# occupation is independent

In [83]:
X=data[' occupation'].replace(' ?',' Prof-specialty')
X=pd.DataFrame(X)
X.value_counts()

 occupation
 Prof-specialty       5983
 Craft-repair         4099
 Exec-managerial      4066
 Adm-clerical         3770
 Sales                3650
 Other-service        3295
 Machine-op-inspct    2002
 Transport-moving     1597
 Handlers-cleaners    1370
 Farming-fishing       994
 Tech-support          928
 Protective-serv       649
 Priv-house-serv       149
 Armed-Forces            9
Name: count, dtype: int64

In [84]:
# income is dependent

In [85]:
data[' income'].value_counts()

 income
 <=50K    24720
 >50K      7841
Name: count, dtype: int64

In [86]:
Y = data[' income'].replace(' <=50K',0).replace(' >50K', 1)

In [87]:
Y.value_counts()

 income
0    24720
1     7841
Name: count, dtype: int64

In [88]:
# Columns transform

In [89]:
le = LabelEncoder()

In [90]:
X = le.fit_transform(X)

C:\Users\shubh\anaconda3\Lib\site-packages\sklearn\preprocessing\_label.py:114: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [91]:
X = pd.DataFrame(X)

In [92]:
X.head()

   0
0  0
1  3
2  5
3  5
4  9

In [93]:
X.value_counts()

9     5983
2     4099
3     4066
0     3770
11    3650
7     3295
6     2002
13    1597
5     1370
4      994
12     928
10     649
8      149
1        9
Name: count, dtype: int64

In [94]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = .35, random_state = 1)
lo.fit(X_train, Y_train)

LogisticRegression()

In [95]:
Y_pred = lo.predict(X_test)

In [96]:
print('Confusion matrix :')
print(confusion_matrix(Y_pred, Y_test))

Confusion matrix :
[[8800 2597]
 [   0    0]]

In [97]:
print('Accuracy score :')
print(accuracy_score(Y_pred, Y_test))

Accuracy score :
0.7721330174607353